.main_nav{
    background-color: rgba(0, 0, 0, 0.13);
    padding: 0 2rem;
    margin: 0 !important;
    position: top;
    z-index: 1000;
    transition: all 1s ease-in-out;
    width: 100%;
}

.hide_nav {
    transform: translateY(-100%);
    transition: 0.5s ease;
  }

.main_nav_toggle{
    background-color: transparent;
    color: transparent;
    outline: none;
    border: none;
}

.main_nav_toggle:focus, .main_nav_toggle:hover, .main_nav_toggle:active{
    outline: none;
    border: none;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.53);
  display: grid;
  justify-content: center;
  animation: fade-in 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
  mix-blend-mode: normal;
  backdrop-filter: blur(10px);
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* .toggler_icon{
    color: red !important;
    background-color: var(--main-bg-color);
    border-radius: 10px;
} */

.toggler_icon {
    background-image: none!important;
    background-color: red;
    height: 3px;
    width: 25px;
    margin: 10px 0;
    position: relative;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  
  .toggler_icon::before {
    display: block;
    background-color: var(--secondary-color);
    height: 3px;
    content: "";
    position: relative;
    top: -7px;
    transition: all 0.15s ease-out;/*taken down to hide quicker*/
    transform-origin: center;
  }
  
  .toggler_icon::after {
    display: block;
    background-color: var(--secondary-color);
    height: 3px;
    content: "";
    position: relative;
    top: 4px;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  
  .no_collapsed .main_nav {
    height: 100vh;
  }
 .no_collapsed .toggler_icon {
    transform: rotate(45deg);
  }
  
 .no_collapsed .toggler_icon::before {
    opacity: 0;
  }
  
 .no_collapsed .toggler_icon::after {
    transform: rotate(-90deg) translateX(7px);
  }
  

.main_nav img {
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    /* animation: rotateLogo 5s linear infinite; */
}

/* @keyframes loopScreen {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.nav_a {
    display: inline-block;
    color:  var(--main-bg-color) ;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0;
    position: relative;
    font-size: calc(1rem + .1vw);
    font-weight: 500;
    
    
}

.nav_a:hover{
    color:  red;
}

.nav_a:after{
    content: "";
    width: 0;
    height: 1px;
    background: red;
    box-shadow: 0 0 10px red;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    right: 0%;
    transition: width 0.3s;
}

.nav_a:hover:after{
    width: 100%;
    left: 0%;
}

.active {
    color: red;
    border-bottom: red 2px solid;
}